body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

a {
  color: #00B7FF;
}

.conversation-history{
  height: 300px;
  overflow-y: scroll;
}

textarea{
  width: 370px;
  height: 120px;
}

table{

}

table tbody tr{
  height: 30px;  
}

table tbody tr td{
  width: 50px;  
  text-align: center;
}
