<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div id="friends-list" class="well sidebar-nav">
        <ul class="nav nav-list">
          <%
          _.each(contacts, function(contact, key, list){
          %>
          <li><a class="friend-contact <%=contact.status%>" id="contact_<%=contact.id%>" contactId="<%=contact.id%>"><%=contact.name%></a></li>
          <%
          });
          %>
        </ul>
      </div>
      <div id="conversation-area">

      </div>
    </div>
  </div>
</div>

