extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.brand OurMessenger
      .nav-collapse.collapse
  .container-fluid
    .row-fluid
      #app-container
