extends layout

block content
  button(id="botao-novo") Nova Conversa
  span Apelido:
    input(type="text", id="autor")
    select(id="cor-texto")
      option Blue
      option Red
  #dialog-emoticon(title="Emoticons")
    #emoticons-container