doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.2/themes/cupertino/jquery-ui.min.css')

		script(src='/javascripts/lib/requirejs/require.js', data-main='/javascripts/bootstrap.js')
		script.
			require(['index_script']);

	body
		block content
