doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.2/themes/cupertino/jquery-ui.min.css')
		script(src='http://ajax.microsoft.com/ajax/jQuery/jquery-1.9.1.min.js')
		script(src='http://code.jquery.com/ui/1.10.2/jquery-ui.min.js')
		script(src='/javascripts/jquery.titlealert.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/index_script.js')


	body
		block content